<div class= "container">
<div class="center">
<%= link_to image_tag("logo_fidbacks.jpg", alt: "Logo"), 'http://www.fidbacks.com' %>	
</div>
<div class="center hero-unit">
  <h1>Fidbacks</h1>

  <h2>
    Leverage your honnesty with an awesome profile page!
  </h2>
      <div id="signup">
                <form id="form" class="form-inline">
                    <input type="text" value="" name="email" class="input-xlarge email" id="email" placeholder="Your email address">
                    <%= link_to "Get an invite", signup_path, class: "btn btn-warning" %>

                </form>
     
      </div>

            
 <br></br>
 <div/>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

     
      <%= f.label :email %>
      <%= f.text_field :email %>

     
    
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>